:root {
  --primary-color: #070707;
  --secondary-color: #000000e0;
  --font-color: #b6b6b6;
  --title-font: "Concert One", cursive;
  --paragraph-font: "Ubuntu Condensed", sans-serif;
}
@media (max-width: 767px) {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
body {
  color: var(--font-color);
  background: var(--primary-color);
  min-width: 300px;
}
.full-container {
  max-width: 900px;
  background: var(--primary-color);
  display: block;
  margin: 0 auto;
  padding: 50px 70px;
}
h1 {
  font-family: var(--title-font);
  text-align: center;
  margin-top: 50px;
}
h2 {
  font-family: var(--title-font);
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  font-family: var(--title-font);
}
p {
  font-family: var(--paragraph-font);
  font-size: 18px;
}
.homepage-photos {
  padding: 20px;
}

.homepage-row {
  margin-top: 40px;
}
.link {
  padding: 10px 15px 10px;
  background: var(--primary-color);
  border: 1px solid var(--font-color);
  color: var(--font-color);
  border-radius: 8px;
  max-width: 120px;
  transition: all 200ms ease-in-out;
}
.link:hover {
  background: var(--font-color);
  color: var(--primary-color);
}
.about-me-link {
  margin-right: 20px;
}
.contact-me-link {
  margin-left: 20px;
}
.navigation-bar {
  background: var(--primary-color);
  color: var(--font-color);
  position: fixed;
  width: 100%;
  margin-top: 0;
}
.navbar-text {
  color: var(--font-color);
}
